{% extends "layout.html" %}

{% block body %}


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
    <span class="brand">SPIE.

    </span>
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Events</a>

        </li>

    </ul>

</nav>





	
{% endblock %}