{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    
    <a href="{{ url_for('home') }}" class="navbar-brand">   
        
        <h3 id="brand">SPIE.</h3>
        <div id="chapter">
            STUDENT <br>CHAPTER
        </div>
        <div id="branch">TECHNO INDIA</div>
    
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#events">Events</a>
          </li>
        </ul>
      </div>

</nav>
          

<div class="galleryContainer" id="home">
    <div class="slideShowContainer">
        
        <div  class="nextPrevBtn leftArrow" ><span class="arrow arrowLeft"></span></div>
        <div  class="nextPrevBtn rightArrow" ><span class="arrow arrowRight"></span></div>
        <div class="captionTextHolder"><p class="captionText slideTextFromTop"></p></div>
        <div class="imageHolder">
            <img src="/static/img/foundation.jpg">
            <p class="captionText">Chapter Foundation</p>
        </div>
        <div class="imageHolder">
            <img src="/static/img/lecturer.jpg">
            <p class="captionText">Wavicle</p>
        </div>
        <div class="imageHolder">
            <img src="/static/img/wavicle.jpg">
            <p class="captionText">Wavicle 3.0</p>
        </div>
        <div class="imageHolder">
            <img src="/static/img/wio.jpg">
            <p class="captionText">Women In Optics</p>
        </div>
        <div class="imageHolder">
            <img src="/static/img/outreach.jpg">
            <p class="captionText">Outereach</p>
        </div>
        
    </div>
    <div id="dotsContainer"></div>
</div>

<div id="about" class="container">
  <br>
  <br>
  <h1 class="heading" style="font-weight: bolder; font-family: Arial, Helvetica, sans-serif;">ABOUT US</h1>
  The Techno India SPIE Student Chapter, 
  founded in the year 2014 by the then 
  alumni of the Electronics and instrumentation engineering department,has 
  been the sole organisation of the college which hails its parent organisation as an 
  international acclaimed one.The International society of optics and photonics (SPIE),
  located in the industrial hub of San Diego, CA,USA funds our organization for the noble deeds 
  year round which includes organizing outreach programs and lectures of some eminent 
  personalities in the field of science and technology.
  The chapter boasts of encouraging the budding scientists in the students to do 
  something for the greater good.
    
<br>
<br>

<h3>Our objectives are:</h3> 

    <ul>

   <li>To educate the masses about the pivotal role played by light and how it can be utilised to usher sustainable development in the society.</li> 

 
   <li>To conduct successful outreach activities aimed at students belonging to marginalized sections of society (e.g. tribals, orphans) of rural India</li>

   <li>To teach basic science to underprivileged school students by means of interactive demonstrations.</li>

   <li>To prepare optics and renewable energy based models capable of improving the quality of life.</li>

  <li>To carry out research in optics, photonics and other related disciplines. </li>   

  <li>To provide a chance for our students to learn and interact with renowned scientists from around the world by organizing guest lectures</li>
   
  <li>To establish a platform for students seeking to pursue higher studies in science and technology.</li>
   

 </ul>

</div>


<div class="container" id="events">
  <h1 class="heading" style="font-weight: bolder; font-family: Arial, Helvetica, sans-serif;">UPCOMING EVENTS</h1>
<div class="event-details">
  <div id="event-title">
  <h3>Webinar On Indian Space Mission</h3>
</div>
  
  
<div class="row">
  
  <span class="col-sm-8 about-lecturer">
    Doctor Somak ray Chaudhary is the Director of the Inter-University Centre for Astronomy and Astrophysics (IUCAA), Pune.
    He is known for his work on stellar mass black holes and supermassive black holes.His significant contributions include those 
    in the fields of gravitational lensing, galaxy dynamics and large-scale motions in the Universe, including the Great Attractor. He is the professor of physics at presidency University Kolkata , and is also affiliated to the Birmingham University <br>
    <span style="font-weight: bolder">Date & Time :</span> <span>To be declared soon</span>
    <br>
    <span style="font-weight: bolder">Platform :</span> <span>ZOOM</span>
    
  
    
  </span>

    <span class="col-sm-4">
    <img src="../static/images/somak.jpg" class="image">
    <br>
   <span style="font-style: normal; font-weight: bolder;">Dr. Somak Roychowdhury</span>  <br> <span style="font-style: italic;">Director of IUCAA</span>
  </span>

  
    

  </div>
 
  <a type="button" href="{{ url_for('register') }}" class="btn btn-outline-dark">
    Register For The Event
  </a>

  <br>
  <br>

</div>


</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">

<div class="d-flex justify-content-around mb-3">
  <div class="d-flex align-items-start">
  <i class="fa fa-envelope mail" aria-hidden="true" style="font-size:18px; color: rgb(255, 255, 255)">
    <small style="font-size:12px;"> spietechnoindia@gmail.com</small> </i>
  </div>

  <div class="d-flex align-items-end">
  <i class="fa fa-phone call" style="font-size:18px; color: rgb(255, 255, 255)">
    <small style="font-size:12px;">+91-9830880154</small>
  </i>
</div>
</div>

  

  <div class="icons">
    
    <a href="https://www.facebook.com/spie.technoindia/" target="blank_"><i class="fa fa-facebook-square" style="font-size:36px"></i></a>
    <a href="https://www.instagram.com/spie.tmsl/?igshid=1405p80lkgjw7" target="blank_"><i class="fa fa-instagram" style="font-size:36px;color: rgb(230, 44, 75)"></i></a>
    

  </div>
  
  

</footer>

	
{% endblock %}